.description__places-con {
	display: flex;
	flex-direction: column;
	margin: 120px auto 0px;
	max-width: 1270px;
}

/*@media (max-width: 1270px) {
	.description__places-con {
		max-width: 90%;
	}
}*/

@media (max-width: 416px) {
	.description__places-con {
		margin-top: 100px;
		max-width: 335px;
		width: 100%;
	}
}