.header {
	z-index: 15;
	max-width: 1600px;
	padding: 55px 0 55px;
	margin-bottom: -215px;
	position: fixed;
	left: 0;
	right: 0;
	transition: 1s;
}

@keyframes show_header {
	0%{padding: 55px 0 55px}
	100%{padding: 24px 0 24px;
		background-color: #6768A7;}
}

@media (max-width: 415px) {
	.header {
		min-width: 375px;
		max-width: 415px;
		padding: 21px 0 21px;
	}
}