.services__content {
	display: none;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 10px;
}

.services__card:hover .services__content {
	/*display: flex;
	opacity: 1;
	transition: 2s;*/
	display: flex;
	animation: ani 0.4s linear;
}

@keyframes ani {
	0% {
		
		opacity: 0;
	}
	100% {
		
		opacity: 1;
	}
}

@media (max-width: 830px) {
	.services__content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}